{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Recover</title>
</head>

<body style="margin: 0;">
    <table style="width: 100%;color: #e5e5e5;border-collapse: collapse;border: none;">
        <tr>
            <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
        </tr>
        <tr>
            <td style="background-color: #e5e5e5; width: 15%;"></td>
            <td style="background-color: #fff; width: 70%; font-family: Open Sans, serif;">
                <table style="width: 100%;color: #919191;border-collapse: collapse;border: none; border: hidden">
                    <tr>
                        <td style="background-color: #fff;text-align: center;">
                            <img src="{{url}}{% static 'img/logoEzonseller-curva.png' %}" style="width: 200px; margin-top: 20px;">
                            <h2 style="text-align: center; color:#444444;">Change Password</h2>
                            <h2 style="text-align: center; color:#444444;"> Hi {{username}}</h2>
                            <p style="text-align: center; margin-left:40px; margin-right:40px; color:#444444; font-size: 17px;">You recently requested the reset of the password to access our platform. To complete the process, click on the following link and enter the code that we are sending you.<br>
                                <h2 style="text-align: center; color:#444444;margin-bottom:0px;">{{code}}</h2>
                                <p style="margin-bottom:15px;position:relative;bottom:10px;color:#444444;font-weight:bold;"><small>The code that you have sent is valid only for 10 minutes,
                                        in case you spend the time described you will have to make the request again</small></p>
                                <a style="border: 1px solid #023049;padding: 10px;background-color: #023049;color: #ffffff;text-decoration: none;text-transform: uppercase;margin-top: 20px; font-size: 12px;" href="https://{{domain_fron}}/change" target="_blank">Go to the web</a>
                            </p>


                            <a href="https://www.facebook.com/Ezonseller-1044158052402053/"><img src="{{url}}{% static 'img/fa.png' %}" style="width: 25px; margin-top: 20px;"></a>
                            <a href="https://twitter.com/ezonseller"><img src="{{url}}{% static 'img/twit.png' %}" style="width: 25px;margin-top: 20px;margin-left: 10px;margin-right: 10px;"></a>
                            <a href=""><img src="{{url}}{% static 'img/in.png' %}" style="width: 25px; margin-top: 20px;"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #023049;text-align: center;height: 30px; color: #fff;">
                            © Copyright 2018 - EZONSELLER
                        </td>
                    </tr>
                </table>
            </td>
            <td style="background-color: #e5e5e5; width: 15%;"></td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
        </tr>

        <!--             <tr>
                <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
            </tr>
            <tr style="text-align: center;">
                <td style="background-color: #e8e8e8; width: 15%;"></td>
                <td style="background-color: #fff;width: 70%;padding: 0 10px; padding-bottom: 30px;">
                    <tr></tr>
                	<img src="P-color.png" style="margin-top: 51px; width: 50%;">
                	<h2 style="text-align: center;">Recupera tu Contraseña</h2>
                	<h3 style="text-align: center;">Hola Nombre Apellido<br>
                    Has Solicitado Recuperar Tu Contraseña<br>
                    Ingresa el Siguiente Código</h3><br>
                    <h2 style="text-align: center;">0s675r58x</h2><br>
                    <h3 style="text-align: center;">En la sección ¿Olvidó su Contraseña?<br>
                    Si Ignoras este Mensaje<br>
                   Tu contraseña no se Cambiará</h3><br>


                	<img src="Airplane.png" style="margin-top: 10px;">
                	<h2 style="text-align: center;">Gulfstream G650</h2>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sagittis odio. Sed dui diam, maximus vitae leo at, laoreet tristique orci. Ut eu nunc ut nulla pulvinar vulputate. Sed ac ex tempus, pretium neque non, cursus velit. Sed magna urna, sagittis eget leo congue, sollicitudin mattis magna. <a style="color: #5b5b5b;" href="url">Preguntas frecuentes</a></p>
                <td style="background-color: #e8e8e8; width: 15%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
            </tr> -->
    </table>
</body>

</html>