<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Verification</title>
</head>
<body>
    <h4>!Hi username¡</h4>
    <p>Please click on the link to confirm your registration
        <a href="http://domain/activate?uidb64=uid&token=token">http://domain/activate?uidb64=uid&token=token</a>
    </p>

</body>
</html> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>

<body style="margin: 0;">
    <table style="width: 100%;color: #e5e5e5;border-collapse: collapse;border: none;">
        <tr>
            <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
        </tr>
        <tr>
            <td style="background-color: #e5e5e5; width: 15%;"></td>
            <td style="background-color: #fff; width: 70%; font-family: Open Sans, serif;">
                <table style="width: 100%;color: #919191;border-collapse: collapse;border: none; border: hidden">
                    <tr>
                        <td style="background-color: #fff;text-align: center;">
                            <img src="http://{{domain}}/media/logoEzonseller-curva.png" style="width: 200px; margin-top: 20px;">
                            <h2 style="text-align: center; color:#444444;">WELCOME</h2>
                            <h2 style="text-align: center; color:#444444;">Hi {{username}}</h2>
                            <p style="margin-left:40px; margin-right:40px; color:#444444; font-size: 17px;">Thank you for registering in our platform, since we invite you to enter the business of making money buying products at a good price and selling them at a higher price. This simple principle has made merchants millionaires
                                for many years before the Internet was invented. All you have to do is find the products that people are buying and then identify where you can buy them and sell them at a profit. And starting from that, Ezonseller created
                                a system to make the work easier for us.<br><br>
                            </p>
                            <p style="margin-left:40px; margin-right:40px; color:#444444; font-size: 17px;">Please click on the link to confirm your registration
                                <a href="http://{{domain}}/activate/{{uid}}/{{token}}">http://{{domain}}/activate/{{uid}}/{{token}}</a>
                                <br><br>
                                <a style="border: 1px solid #023049;padding: 10px;background-color: #023049;color: #ffffff;text-decoration: none;text-transform: uppercase;margin-top: 20px; font-size: 12px;" href="http://{{domain}}/activate/{{uid}}/{{token}}">Go to the web</a>
                            </p>


                            <a href=""><img src="http://{{domain}}/media/fa.png" style="width: 25px; margin-top: 20px;"></a>
                            <a href=""><img src="http://{{domain}}/media/twit.png" style="width: 25px;margin-top: 20px;margin-left: 10px;margin-right: 10px;"></a>
                            <a href=""><img src="http://{{domain}}/media/in.png" style="width: 25px; margin-top: 20px;"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #023049;text-align: center;height: 30px; color: #fff;">
                            © Copyright 2018 - EZONSELLER
                        </td>
                    </tr>
                </table>
            </td>
            <td style="background-color: #e5e5e5; width: 15%;"></td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #e5e5e5;text-align: center;height: 130px;"></td>
        </tr>
    </table>
</body>

</html>