astroid==1.6.0
bottlenose==1.1.7
certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.2
Django==2.0
django-cors-headers==2.1.0
django-environ==0.4.4
django-filter==1.1.0
djangorestframework==3.7.7
ebaysdk==2.1.5
gunicorn==19.7.1
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
lxml==4.1.1
Markdown==2.6.10
mccabe==0.6.1
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pylint==1.8.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
serpy==0.3.1
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
wrapt==1.10.11
